<h4 class="text-center">
  Users created per day
</h4>
<%= line_chart charts_users_per_day_path %>

<h4 class="text-center">
  Enrollments created per day
</h4>
<%= column_chart charts_enrollments_per_day_path %>

<h4 class="text-center">
  Course popularity
</h4>
<!--= pie_chart @courses.group(:enrollments_count).count
-->
<!--= pie_chart @enrollments.joins(:course).group(:'courses.title').count
-->
<%= bar_chart charts_course_popularity_path %>
